*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 50px;
    border-bottom: 2px solid rgb(112, 111, 111);
    background-color: rgba(255, 255, 255, 0.904);
    position: fixed;
    
}

.logo-img{
    height: 6rem;
}
.navbar-menu{
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 25px;
    color: black;
}


.navbar-menu .item-menu .menu:hover{
    border-bottom: 2px solid rgb(53, 167, 212);
    color: rgb(53, 167, 212);
    padding: 8px 0;
    transition: 0.2s;
}

.navbar-menu .item-menu .menu{
    text-decoration: none;
    color: black;
}

/* profil */
.Profil-img{
    padding-top: 155px;
    width: 100%;
    height: 60rem;
    
}

/* facilities-and-services */
#container-facilities-and-services{
    width: 100%;
    max-width: 68rem;
    margin: auto;
    text-align: center;
    padding: 20px;
    padding-top: 10rem;
}

.heading-facilities-and-services{
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.item-facilities-and-services{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.images-facilities-and-services{
   padding-bottom: 10px;
   width: 15rem;
}
.paragraf-facilities-and-services{
    font-size: 20px;
}

/* JAKARTA Hospital PROMOTIONS AND SERVICE PACKAGES */
#container-jakarta-Hospital-promotions-and-service-packages{
    width: 100%;
    max-width: 70rem;
    margin: auto;
    height: 700px;
    padding-top: 10rem;
}

.heading-jakarta-Hospital-promotions-and-service-packages{
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.item-jakarta-Hospital-promotions-and-service-packages{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.jakarta-Hospital-promotions-and-service-packages{
width: 100%;
max-width: 20rem;
}

.images-jakarta-Hospital-promotions-and-service-packages{
    width: 20rem;
    height: 20rem;
}

.paragraf-date{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(80, 78, 78);
}

.paragraf-title{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* rs-jakarta-up-to-date */
.rs-jakarta-up-to-date{
    width: 100%;
    max-width: 110rem;
    margin: auto;
    height: 900px;
    padding-top: 10rem;
}

.heading-rs-jakarta-up-to-date{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.container-video{
    padding-top: 30px;
}
/* footer */
#container-footer{
    width: 100%;
    height: 700px;
    background-color: rgb(238, 236, 236);
    
}
.container-images{
    padding: 50px;
    text-align: center;
}

.images-footer{
    width: 15rem;
    height: 5rem;
}

.container-item-footer{
    display: flex;
    gap: 10rem;
    justify-content: center;
}

.item-footer{
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.font-paragraf-footer{
    font-size: 40px;
    font-weight: 300;
    color: rgb(80, 78, 78);
}

.menu-footer{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

footer{
    margin-top: 5rem;
    width: 100%;
    background-color: rgb(48, 48, 49);
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer-service{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.font-footer{
    padding: 10px 0;
    border-bottom: 2px solid rgb(80, 78, 78);
}

.font-footer-paragraf{
    color: rgb(80, 78, 78);
}

.font-footer{
    color: rgb(80, 78, 78);
}
